/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(157,76,247);
  --ifm-color-primary-dark: rgb(140,68,220);
  --ifm-color-primary-darker: rgb(125,61,195);
  --ifm-color-primary-darkest: rgb(100,50,160);
  --ifm-color-primary-light: rgb(170,95,250);
  --ifm-color-primary-lighter: rgb(185,110,255);
  --ifm-color-primary-lightest: rgb(200,130,255);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(157,76,247,0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgb(200,130,255);
  --ifm-color-primary-dark: rgb(185,110,255);
  --ifm-color-primary-darker: rgb(170,95,250);
  --ifm-color-primary-darkest: rgb(157,76,247);
  --ifm-color-primary-light: rgb(220,150,255);
  --ifm-color-primary-lighter: rgb(230,170,255);
  --ifm-color-primary-lightest: rgb(245,200,255);
  --docusaurus-highlighted-code-line-bg: rgba(157,76,247,0.3);
}